<div class="d-flex flex-column">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Hoşgeldiniz,<br/> {{fullName |titlecase}}</h5>
      <p class="card-text">{{Email}}</p>
      <a routerLink='/profile' class="card-link">Profili görüntüle</a>
    </div>
  </div>
  <div class="mt-3 d-flex flex-column align-items-center">
    <a href="https://www.ankara.edu.tr/" target="_blank" aria-label="Ankara Üniversitesi"><img class="img-fluid" src="../../../../assets/images/au1.png" alt="" ></a>
    <a href="https://www.eng.ankara.edu.tr/" target="_blank" aria-label="Ankara Üniversitesi"><img class="img-fluid" src="../../../../assets/images/au2.png" alt="" href=""></a>
    <a href="https://www.comp.eng.ankara.edu.tr/" target="_blank" aria-label="Ankara Üniversitesi"><img class="img-fluid" src="../../../../assets/images/au3.png" alt="" href=""></a>
  </div>
</div>
